.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.72);
}
.logoList {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 160px;
}
